form#detail-form
  h3 Bug Details
  div.flex-row.detail
    div.flex-col.one
      div.flex-row
        input#bugTitle.form-control(type='text', name='title', placeholder='Title', value=title)
      div#bugSubtitle.flex-row Assigned to
        select#bugAssignment.form-control(name='assigned')
          each user in users
            option(selected=assigned == user.name)= user.name
    div.flex-col.fit.detail-right
      div.flex-row
        select.detail-tag(name='priority')
          each p in ['Low','Medium','High']
            option(selected=priority == p)= p
        select.detail-tag(name='status')
          each s in ['New','Assigned','Completed']
            option(selected=status == s)= s
      div.flex-row
        div.flex-col.one
        div.flex-col.fit
          button#editButton.btn.btn-danger Edit Bug
  div.flex-row
    textarea#bugDescription.form-control(name='description', placeholder='Description')= description
  div#bugSignature.flex-row
    | Submitted by
    select#bugAuthor.form-control(name='author')
      each user in users
        option= user.name
    if createDate
      | on #{createDate}
  div#tmpSelect
  input#bugId(name='id', type='hidden', value=id)