form#detail-form
  div.row.detail
    div.column.one
      div.row
        input#bugTitle.form-control(type='text', name='title', value=title)
      div#bugSubtitle.row Assigned to
        select#bugAssignment.form-control
          option(selected)= assigned
    div.column.fit.detail-right
      div.row
        select(class='detail-tag ' + priority + '-priority')
          each p in ['Low','Medium','High']
            option(selected=priority == p)= p
        select(class='detail-tag ' + status + '-status')
          each s in ['New','Assigned','Completed']
            option(selected=status == s)= s
        div#tmpSelect
      div.row
        div.column.one
        div.column.fit
          button#editButton.btn.btn-danger Edit Bug
  div.row
    textarea#bugDescription.form-control(name='description')= description
  div#bugSignature.row Submitted by #{author} on #{createDate}